
:root{
    --player1: #ffd06b;
    --player1_shadow: #ffd06b;
    --player2: #f76788;
    --player2_shadow: #f76788;
    --color2: #fdfc6a;
    --color3: #0903a8;
    --background_all: #733ef0;
    --background_all_dark: #5c2cd5;

    --fichaWidth: 50px;
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: var(--background_all);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.game_container{
    flex-direction: column;

    width: 40%;
    height: 100%;
}



@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .game_container{
        flex-direction: column;
    
        width: 80%;
        height: 100%;
    }

    :root{    
        --fichaWidth: 40px;
    }
  }