
:root{
    --player1: #ffd06b;
    --player1_shadow: #ffd06b;
    --player2: #f76788;
    --player2_shadow: #f76788;
    --color2: #fdfc6a;
    --color3: #0903a8;
    --background_all: #733ef0;
    --background_all_dark: #5c2cd5;
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: var(--background_all);
}




.cuerpo{
    display: flex;
    width: 100%;    
    height: 80%;
}
.izq{    
    width: 30%;
}
.der{    
    width: 30%;
}


