@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
    --player1: #ffd06b;
    --player1_shadow: #ffd06b;
    --player2: #f76788;
    --player2_shadow: #f76788;
    --color2: #fdfc6a;
    --color3: #0903a8;
    --background_all: #733ef0;
    --background_all_dark: #5c2cd5;

    --fichaWidth: 50px;
    --text_font: 'Press Start 2P', cursive;
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: var(--background_all);

    font-family: var(--text_font);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .game_container{
        flex-direction: column;
    
        width: 80%;
        height: 100%;
    }

    :root{    
        --fichaWidth: 40px;
    }
  }