.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    
    background-color: var(--background_all_dark);
    border-radius: 800px;

    color: white;
    text-align: center;    
    font-family: var(--text_font);    
    font-size: 20px;   
    
    cursor: default;
    user-select: none; 
}

.button:active{
    background-color: #5229b9;
}

.button:hover{    
    outline: solid 2px #5229b9;
    outline-offset: -2px;
}

.restart{ 
    font-size: 10px;   
    margin-top: 5px;
}
