.cabecera{
    width: 100%;
    height: 16%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.seleccion{
    display: flex;
    width: 450px;
    height: 50px;
    background-color: antiquewhite;
}

.columna{
    width: 69px;
    height: 50px;
    margin: 1px;
    background-color: aqua;
}