.player_1{
    width: var(--fichaWidth);
    height: var(--fichaWidth);
    border-radius: 100%;
    background-color: var(--player1);

    border-radius: 100%;
    border: black 3px;
    border-style:solid;
    box-sizing: border-box;

}
.player_2{
    width: var(--fichaWidth);
    height: var(--fichaWidth);
    border-radius: 100%;
    background-color: var(--player2);

    border-radius: 100%;
    border: black 3px;
    border-style:solid;
    box-sizing: border-box;

}

.ficha{
    width: 50px;
    height: 50px;
}