.game{
    display: none;
}

.game_container{
    flex-direction: column;
    
    width: 40%;
    height: 100%;
}

@media screen and (max-width: 600px) {
    .game_container{
        width: 80%;
    }
  }