.seleccion{
    display: flex;
    justify-content:space-between;
    width: calc(100% - 4rem);
    height: 60px;
}

.columna{
    width: var(--fichaWidth);
    height: var(--fichaWidth);

    border-radius: 100%;
    border: black 3px;
    border-style: dotted;
    box-sizing: border-box;    
}

@media screen and (max-width: 600px) {
    .seleccion{
        width: 90%;
    }

    .columna{
        margin: 1.5px;
    }
  }