.tablero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
    height: 450px;

    background-color: white;
    border: black 5px;
    border-style:groove;
    border-radius: 30px;

    padding-top: 2vh;
    padding-bottom: 2vh;
}

.filas{
    display: flex;
    align-items: center;    
    justify-content: space-between;
    width: 90%;
    height: 10.66%;
    margin: 2px;
}

.espacios{
    background-color: var(--background_all);

    width: var(--fichaWidth);
    height: var(--fichaWidth);
    
    border-radius: 100%;
    border: black 3px;
    border-style:groove;
    border-top-width: 10px;
    box-sizing: border-box;
}


@media screen and (max-width: 600px) {
    .tablero{
        height: 350px;
    }
  }